# 05. 함수

```python
def 함수이름(매개변수1, 매개변수2, ...):
    함수의 실행문
    return 반환값

* y = f(x) = 2x + 10
    - f(5) = 20
    - f(10) = 30

## 함수의 정의

In [1]:
def function(x):
    y = 2*x+10
    return y

In [2]:
function(10)

30

In [3]:
function(20)

50

## 연습문제
* 다음을 수행하는 함수를 만들어보시오
    - 이름: power
    - 입력값: 숫자
    - 출력값: 입력된 숫자에 세제곱후 100을 뺀 값

In [4]:
def power(n):
    y = n**3 - 100
    return y

In [6]:
power(10)

900

## 입력값이 여러개인 함수
* a에 b제곱하는 함수
    - 이름: jegop
    - 입력값1: 및 a
    - 입력값2: 지수 b
    - 출력값: y

In [7]:
def jegop(a,b):
    y = a**b
    return y

In [8]:
jegop(2,3)

8

In [9]:
jegop(3,-2)

0.1111111111111111

## 함수 출력값의 사용

In [10]:
# 함수의 계산결과는 변수에 저장하여 사용할 수 있다.
result1 = function(20)
result2 = power(50)
result3 = jegop(2, 10)

In [11]:
print(result1)
print(result2)
print(result3)

50
124900
1024

## 연습문제
* 다음 함수를 만들어보시오
    - 함수이름: sigma
    - 입력값: 숫자 n
    - 출력값: 1부터 n까지의 합 (1+2+...+n)

In [12]:
def sigma(n):
    result = 0
    for i in range(1,n+1):
        result = result + i    
    return result

In [15]:
sigma(100)

5050

## 연습문제
* 입력된 정수(n)의 팩토리얼 (1x2x...xn)을 구현하는 함수를 만들어보시오
    - 함수이름: factorial
    - 입력값: n
    - 출력값: y

In [16]:
def factorial(n):
    y = 1
    for i in range(1,n+1):
        y = y*i
    return y

In [17]:
factorial(20)

2432902008176640000

## 연습문제
* 두개의 문자열을 입력받아 두 문자열의 갯수가 같으면 True, 아니면 False를 출력하는 함수를 만들어보시오
    - 함수이름: isSameLength
    - 힌트: len

In [18]:
len("Hello World")

11

In [33]:
def isSameLength(a, b):
    len_1 = len(a)
    len_2 = len(b)
    result = len_1 == len_2    
    return result
    
# def isSameLength(a, b): 
#     return len(a) == len(b)

In [34]:
isSameLength('Hello World', 'HelloWorld')

False

In [36]:
a

NameError: name 'a' is not defined

In [35]:
print(len_1) # 함수 안에서 사용된 변수는 내부적으로만 사용된다.

NameError: name 'len_1' is not defined

## 출력값이 여러개인 함수

In [23]:
def myFunc(a,b):
    x = a**b
    y = a/b
    return x,y

In [24]:
myFunc(2,3)

(8, 0.6666666666666666)

In [25]:
x, y = 8, 0.66
print(x)
print(y)

8
0.66

In [26]:
x,y = myFunc(2,3)
print(x)
print(y)

8
0.6666666666666666

## 연습문제
* a를 b로 나눈 몫과 나머지를 각각 출력하는 함수를 설계해 보시오
    - 함수이름은 divide

In [31]:
def divide(a,b):
    return a//b,a%b

In [32]:
divide(10,3)

(3, 1)

## 함수와 변수의 범위

- 함수안의 result값은 함수 안에서만 유효하다, 즉 함수 밖의 result와 함수 안의 result는 다르다.
- 하지만 함수 밖에서 지정한 변수는 함수 안에서 참조가 가능하다 (전역변수) 주의를 요함.

In [37]:
outside = 3.141592 # 전역변수(glboal) -> 어떤 함수에서도 접근 가능
def test(n):
    return outside*n

In [38]:
test(10)

31.41592

## 입력값이 없는 함수

In [39]:
def no_input():
    y = input("입력하세요: ")
    return y

In [40]:
result = no_input()

입력하세요:  Lee Jihwan

In [41]:
result

'Lee Jihwan'

## 출력값이 없는 함수

In [42]:
def no_output(n):
    for i in range(n):
        print("Hello World")

In [46]:
y = no_output(10) # 출력값이 없으면 None이 저장됨

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [56]:
print(y)

None

## 5-6. 함수를 사용한 프로그램 구조화

In [60]:
def print_line():
    print('='*50)
        
def print_star():
    print('*'*50)
    
def main():
    print_line() #함수 안에서 다른 함수가 사용되고 있다
    print_star()
    no_output(5)
    print_star()
    print_line()
    
main()

==================================================
**************************************************
Hello World
Hello World
Hello World
Hello World
Hello World
**************************************************
==================================================

In [61]:
main()

==================================================
**************************************************
Hello World
Hello World
Hello World
Hello World
Hello World
**************************************************
==================================================

## 5-8. 함수안에 함수

In [12]:
def square(x):
    return x**2

def my_sum(x):
    result = 0
    for i in range(x+1):
        result = result + square(i)
    return result

print(my_sum(3))
print(my_sum(5))

14
55

## 5-9. 함수의 결과값을 입력값으로 사용

In [62]:
def f(x):
    return x**2

def g(y):
    return y+1

print(g(f(3)))

10

## 연습문제

7-1. 입력값 a,b를 순서대로 받아 a를 b로 나눈 몫과 나머지를 각각 반환하는 함수를 만들어보시오. 함수의 이름은 mok이다.

In [30]:
def mok(a, b):
    ## 여기에 작성해 보세요.
    
    ##
    return x,y

In [32]:
# m,n = mok(7,2)
# print(m,n)

## 연습문제

7-2. 어떤 수 n을 입력하면 1부터 n까지의 합을 계산하여 출력하는 함수를 만들어보시오.

In [31]:
def my_sum(number):    
    ## 이 부분을 작성해 보시오.
    
    ##
    return result

In [33]:
# y = my_sum(10)
# print(y) ## 55가 출력되어야 함

## 연습문제

7-3. 어떤 수 n을 입력여 짝수면 True, 홀수면 False를 출력하는 함수를 만들어보시오.

In [34]:
def check_even(number):
    ## 이 부분을 작성해 보시오.
    
    ##
    return result

In [35]:
# y = check_even(7)
# print(y) ## False가 출력되어야 함

## 연습문제

7-4. 어떤수 n을 입력하면 1부터 n까지 짝수의 합만 계산하여 출력하는 함수를 만들어보시오. 위에서 작성한 check_even을 사용할 것.

In [36]:
def myEvenSum(n):
    ## 이 부분을 작성해 보시오.
    
    ##    
    return result

In [37]:
# y = myEvenSum(7)
# print(y) ## 2+4+6 = 12