## 리스트 자료구조

## 7-1. 리스트의 성질

In [3]:
[88, 90, 100]

[88, 90, 100]

In [4]:
x=[1,3,5,7,9]
print(x)

[1, 3, 5, 7, 9]

In [5]:
albist =  ["hello", 2.0, 5, [10, 20]]
albist

['hello', 2.0, 5, [10, 20]]

## 7-2. 리스트 인덱싱

In [6]:
a=[1,3,5,7,9]
a[0]

1

In [7]:
a[1]

3

In [8]:
a[2]

5

In [9]:
a[-1]

9

## 7-3. 리스트 슬라이싱

In [10]:
a=[1,3,5,7,9]
print(a[0:3])

[1, 3, 5]

In [11]:
print(a[1:3])

[3, 5]

In [12]:
print(a[:2])
print(a[2:])

[1, 3]
[5, 7, 9]

## 7-4. 리스트의 값을 바꾸기

In [13]:
x = list(range(1,10,2))
x

[1, 3, 5, 7, 9]

In [14]:
x[0] = 11
x

[11, 3, 5, 7, 9]

In [15]:
x[1] = 12
x

[11, 12, 5, 7, 9]

## 연습문제
* list(range(20))를 만든다
* 인덱스가 짝수인 경우 해당 값을 두배로 바꾸는 작업을 수행하시오

In [4]:
aList = list(range(20))

for i in range(20):
    if i%2 == 0:
        aList[i] = aList[i] * 2

print(aList)

[0, 1, 4, 3, 8, 5, 12, 7, 16, 9, 20, 11, 24, 13, 28, 15, 32, 17, 36, 19]

## 리스트의 길이
* len(리스트)하면 리스트에 담긴 값의 갯수를 얻을 수 있다

In [1]:
x = [3,565,1123,5,2,5,7,8,3,41,36]
len(x)

11

In [2]:
for i in x:
    print(i)

3
565
1123
5
2
5
7
8
3
41
36

In [3]:
for i in range(len(x)):
    print(i, x[i])

0 3
1 565
2 1123
3 5
4 2
5 5
6 7
7 8
8 3
9 41
10 36

## 연습문제
* 다음을 만족하는 함수를 만드시오
    - 이름: doubleList
    - 입력값: 리스트[1,2,3]
    - 출력값: 리스트에 들어있는 값에 두배 [2,4,6]

## 7-5. (리스트의 마지막에) 값 추가하기

In [16]:
x.append(1)
x

[11, 12, 5, 7, 9, 1]

In [17]:
x.append(3)
x

[11, 12, 5, 7, 9, 1, 3]

## 연습문제
* 다음 조건을 만족하는 함수를 만드시오
    - 함수이름: square
    - 입력값: n
    - 출력값: [1^2, 2^2, ..., n^2]

* 다음 조건을 만족하는 함수를 만드시오
    - 설명: 주어진 리스트에서 짝수만 골라서 리스트로 리턴하는 함수
    - 함수이름: even_list
    - 입력값: 리스트 (6,5,12,14,7,9,10)
    - 출력값: 리스트 (6,12,14,10)

## 7-6. 리스트에 값이 들어있는지 확인

In [18]:
11 in x

True

In [19]:
10 in x

False

In [20]:
if 11 in x:
    print("11 is in x")

11 is in x

## 연습문제
* 다음 조건을 만족하는 함수를 만드시오
    - 설명: 주어진 리스트에서 주어진 숫자의 갯수를 세는 함수를 만들어보시오
    - 입력값1: 리스트(2,4,5,1,2,2,4,5,2)
    - 입력값2: 갯수를 세고 싶은 숫자 (2)
    - 출력값: 리스트 안에 들어있는 특정 숫자의 갯수, 4

## 7-6. 리스트에서 값 지우기

In [29]:
del x[0]
x

[12, 5, 7, 9, 1, 3]

In [30]:
del x[0]
x

[5, 7, 9, 1, 3]

In [31]:
del x[3]
x

[5, 7, 9, 3]

## 7-7. 복수할당

In [32]:
x = [1,2,3]
a,b,c = x

In [33]:
print(a,b,c)

1 2 3

## 7-8. 리스트 메소드

In [6]:
#insert
mylist = [5,27,3,12]
mylist.insert(1,12)
print(mylist)
mylist.insert(3,50)
print(mylist)

#count
print(mylist.count(12))

#sort
mylist.sort()
print(mylist)

[5, 12, 27, 3, 12]
[5, 12, 27, 50, 3, 12]
2
[3, 5, 12, 12, 27, 50]